<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="orange"><strong>Uma Estampa</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="empty-state">
    <ion-icon name="people-circle-outline" color="primary"></ion-icon>
    <h2>Comunidade a chegar!</h2>
    <p>Em breve poderás ver as criações de outros utilizadores e partilhar as tuas estampas favoritas com o mundo.</p>
    <ion-button routerLink="/home" fill="outline">Voltar ao Início</ion-button>
  </div>
</ion-content>
